.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 1rem;
     
}

#picture {
    width: 100%; /* Make the image div the same width as the container */
    height: auto; /* Allow the height to adjust proportionally */
}

.picture {
    height: 40%;
    width: auto; 
}

.information {
    padding: 1rem;
    color: #fff;
    background-color: #353535;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
}
